.check-highlight-active a{
    background-color: red !important;
    padding: 2px 5px;
    border-radius: 3px;
} 

.check-highlight-active h1{
  background-color: yellowgreen !important;
  padding: 2px 5px;
  border-radius: 3px;
} 

.check-highlight-active a[target="_blank"]{
  border: 2px solid blue !important;
}


.check-highlight-active a:not([href]) {
  border: 2px dotted yellow !important;
}